body {
  background: #ccc;
  font-size: 12px; }

#header {
  background-image: -webkit-linear-gradient(#35353d, #212124);
  background-image: -o-linear-gradient(#35353d, #212124);
  background-image: linear-gradient(#35353d, #212124);
  padding: 0.5em;
  text-shadow: 0 .15em 0.2em black;
  font-size: 2.5em;
  font-weight: bold;
  color: white; }
  #header .beta {
    color: #e81a7b;
    font-size: 0.5em;
    vertical-align: super; }

#content div {
  padding: 4px; }

#player {
  background-image: -webkit-linear-gradient(#35353d, #212124);
  background-image: -o-linear-gradient(#35353d, #212124);
  background-image: linear-gradient(#35353d, #212124);
  position: fixed;
  padding: 0.5em;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  text-align: center;
  font-size: 2em;
  line-height: 0; }
  #player .button {
    color: inherit;
    text-decoration: none; }
  #player .component {
    display: inline-block;
    padding: 0.3em; }
  #player .progress .progress-bar {
    background: black;
    width: 256px;
    height: 0.7em;
    display: inline-block; }
    #player .progress .progress-bar div {
      height: 100%;
      background: red; }
  #player .progress .time {
    display: inline-block;
    padding: 0 0.3em; }
